@charset "utf-8";
/* CSS Document */

h1,h2,h3,h4,h5,h6 
{
	font-family:'OstrichSansMedium';
	font-weight: normal;
	color:#ef4939;
	margin:10px 0;
}
h1 
{
	font-size:38px;
}
h2 
{
	font-size:30px;
}
h3 
{
	font-size:22px;
}
h4 
{
	font-size:20px;
}
body 
{
	background:#fff url(../images/background.png) repeat;
	font-family: 'PTSansRegular', Sans-Serif;
	font-size: 14px;
	margin:0;
	text-align:center;
}
a 
{
	text-decoration:none;
	color:#1a86ac;
}

a img 
{
	border:0;
}
.clear 
{
	clear:both;
}
.half_page 
{
	width:460px;
	float:left;
}

.half_page.first 
{
	margin-right:20px;
}

.selectors 
{
	text-align:center;
	margin:20px auto;
	border-bottom: 1px solid rgb(189, 187, 166);
	max-width:960px;
}
.selectors a {
	font-family: 'OstrichSansMedium';
	font-weight: normal;
	text-decoration:none;
	color: #ef4939;
	font-size:34px;
}

/* ------------------------ Extras --------------------------------- */

.page_wrapper {
	margin:0 auto; 
	position:relative; 
	padding:0;
}

.help {
	width:960px;
	text-align:left;
	margin:0 auto;
}

.help p {
	margin:10px 0;
}

.help h2{
	margin:40px 0 20px 0;
	font-size:32px;
}

.help ol {
	padding-left:20px;
}

.big_image {
	margin-left:-120px
}

pre {
	border: solid 1px #dddddd;
	font-size: 11px;
	color: blue;
	margin: 10px 0;
	padding:10px;
	background: #f2f2f2;
}
code {
	font-size:1.2em;
	color: #008099;
}

.red { color:#c30000;}
.green {color:#1c9600;}
.orange {color:#c17b00;}
.purple {color:#b100c1;}
.blue {color:#1f08c9;}

table {
	border: solid 1px #dddddd;
	background:#fff;
	margin:10px 0;
}
th {
	padding:10px;
    background: #dddddd;
}

td {
	padding:10px;
    background: #f2f2f2;
}

/* Selectores y Badges */

.selectors img
{
	width: 50px;
	border-radius: 32px;
	margin: 0 8px 18px;
}


img.badgeborder
{
border-color: rgb(221, 220, 220);
border-width: thin;
border-style: solid;
}

a.mail
{
	color: black;
	font-size: 25px;
}



.badgetitulo p
{
	font-size: 21px;
}
.badgedescripcion p
{
	font-size: 16px;
}


.tooltip 
{
	-webkit-border-radius: 5px;
background-color: rgb(243, 237, 235);
border-radius: 10px;
border: 1px solid #ccc;
display: none;

	font-size: 12pt;
height: auto;
padding: 5px;
position: absolute;

	top: -270px;
right: -95px;

	width: 246px;
z-index: 1;
}



div.tooltip-wrapper
{
	display:inline-block;
	position: relative;
}

a.tooltip-trigger
{
	 opacity: 1;
  	-o-transition:opacity 2s ease-out, background 2s ease-in;
  	-ms-transition:opacity 2s ease-out, background 2s ease-in;
  	-moz-transition:opacity 2s ease-out, background 2s ease-in;
  	-webkit-transition:opacity 2s ease-out, background 2s ease-in;
  	transition:opacity 2s ease-out, background 2s ease-in;
}

a.tooltip-trigger:hover
{
	opacity:.3;
}


div.selectors a img, div.selectors img
{

-webkit-transition: -webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
-webkit-transition-property: -webkit-transform, opacity, background, width, height, font-size;
-webkit-transition-duration: 1s, 1s, 1s, 1s, 1s, 1s;
-webkit-transition-timing-function: initial, initial, initial, initial, initial, initial;
-webkit-transition-delay: initial, initial, initial, initial, initial, initial;


-o-transition: -o-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
-o-transition-property: -o-transform, opacity, background, width, height, font-size;
-o-transition-duration: 1s, 1s, 1s, 1s, 1s, 1s;
-o-transition-timing-function: initial, initial, initial, initial, initial, initial;
-o-transition-delay: initial, initial, initial, initial, initial, initial;


-moz-transition: 1s;
-moz-transition-pro|perty: -moz-transform, opacity, background, width, height, font-size;
-moz-transition-duration: 1s, 1s, 1s, 1s, 1s, 1s;
-moz-transition-timing-function: initial, initial, initial, initial, initial, initial;
-moz-transition-delay: initial, initial, initial, initial, initial, initial;

}
div.selectors a img:hover, div.selectors img:hover
{
	-moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
opacity: 1;
	
}



div.badgetitulo 
{
	margin-bottom: 14px;
}

div.badgenombre
{
	display: inline-block;
	height: auto; 
	vertical-align: bottom;
	width: 185px;
}
div.badgenombre p
{
	display: inline-block; 
	font-size: 30px;
	margin: 0px 0 0 5px; 
	vertical-align: bottom;
	color: #ef4939;
	font-family: 'OstrichSansMedium';
}
div.badgedescripcion
{
	margin: 0 5% 0 5%;
	width: 230px;
}

div.badgedescripcion p
{
	font-size: 22px;
	color: rgb(0, 0, 0);
	font-family: 'OstrichSansMedium';
}


/*It's 3, because we have a <br> between both <p>'s' */
div.badgenombre p:nth-child(3)
{
	color:black;
	font-size: 18px;
}

